Jonathan Penaloza
### LP3_JP

1.	Attached to this assignment in Moodle is a file called weather_2012.csv. Download this file and put it in the same directory as your notebook. Read the file into a dataset named “df”.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("weather_2012.csv")

2.	Write the code to display the first five rows of the dataset, the last five rows of the dataset and a sample of five random rows from the dataset.

In [3]:
df.head(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
df.tail(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [5]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
2777,2012-04-25 17:00:00,8.8,-1.5,48,22,48.3,100.45,Mostly Cloudy
7179,2012-10-26 03:00:00,7.7,6.4,91,7,25.0,101.49,Clear
4103,2012-06-19 23:00:00,25.3,19.3,69,13,25.0,100.89,Cloudy
5667,2012-08-24 03:00:00,19.6,12.4,63,13,25.0,101.64,Mainly Clear
8274,2012-12-10 18:00:00,1.5,1.1,97,15,12.9,99.57,Cloudy

3. Write the code to display a list of all of the columns in the dataset.

In [6]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

4.	The column names are unwieldy for our purposes. Rename them according to this list {date_time, temp_c, dew_point, relative_humidity, wind_speed, visibility, pressure, and weather}.  Keep a copy of the original columns so we can change them back  if needed at the end of our analysis.

In [8]:
# rename columns 
# {'Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)','Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)','Weather'} 
# to 
#{date_time, temp_c, dew_point, relative_humidity, wind_speed, visibility, pressure, and weather}

In [9]:
data_frame_df = pd.DataFrame(df)
print(data_frame_df)

                Date/Time  Temp (C)  Dew Point Temp (C)  Rel Hum (%)  \
0     2012-01-01 00:00:00      -1.8                -3.9           86
1     2012-01-01 01:00:00      -1.8                -3.7           87
2     2012-01-01 02:00:00      -1.8                -3.4           89
3     2012-01-01 03:00:00      -1.5                -3.2           88
4     2012-01-01 04:00:00      -1.5                -3.3           88
...                   ...       ...                 ...          ...
8779  2012-12-31 19:00:00       0.1                -2.7           81
8780  2012-12-31 20:00:00       0.2                -2.4           83
8781  2012-12-31 21:00:00      -0.5                -1.5           93
8782  2012-12-31 22:00:00      -0.2                -1.8           89
8783  2012-12-31 23:00:00       0.0                -2.1           86

      Wind Spd (km/h)  Visibility (km)  Stn Press (kPa)               Weather
0                   4              8.0           101.24                   Fog
1                   4              8.0           101.24                   Fog
2                   7              4.0           101.26  Freezing Drizzle,Fog
3                   6              4.0           101.27  Freezing Drizzle,Fog
4                   7              4.8           101.23                   Fog
...               ...              ...              ...                   ...
8779               30              9.7           100.13                  Snow
8780               24              9.7           100.03                  Snow
8781               28              4.8            99.95                  Snow
8782               28              9.7            99.91                  Snow
8783               30             11.3            99.89                  Snow

[8784 rows x 8 columns]

In [10]:
data_frame_df.rename(columns = {'Date/Time':'date_time', 'Temp (C)':'temp_c', 'Dew Point Temp (C)':'dew_point',
                           'Rel Hum (%)':'relative_humidity','Wind Spd (km/h)':'wind_speed','Visibility (km)':'visibility',
                          'Stn Press (kPa)':'pressure','Weather':'weather'},
                   inplace = True)
print(data_frame_df)

                date_time  temp_c  dew_point  relative_humidity  wind_speed  \
0     2012-01-01 00:00:00    -1.8       -3.9                 86           4
1     2012-01-01 01:00:00    -1.8       -3.7                 87           4
2     2012-01-01 02:00:00    -1.8       -3.4                 89           7
3     2012-01-01 03:00:00    -1.5       -3.2                 88           6
4     2012-01-01 04:00:00    -1.5       -3.3                 88           7
...                   ...     ...        ...                ...         ...
8779  2012-12-31 19:00:00     0.1       -2.7                 81          30
8780  2012-12-31 20:00:00     0.2       -2.4                 83          24
8781  2012-12-31 21:00:00    -0.5       -1.5                 93          28
8782  2012-12-31 22:00:00    -0.2       -1.8                 89          28
8783  2012-12-31 23:00:00     0.0       -2.1                 86          30

      visibility  pressure               weather
0            8.0    101.24                   Fog
1            8.0    101.24                   Fog
2            4.0    101.26  Freezing Drizzle,Fog
3            4.0    101.27  Freezing Drizzle,Fog
4            4.8    101.23                   Fog
...          ...       ...                   ...
8779         9.7    100.13                  Snow
8780         9.7    100.03                  Snow
8781         4.8     99.95                  Snow
8782         9.7     99.91                  Snow
8783        11.3     99.89                  Snow

[8784 rows x 8 columns]

5.	Most of the data in the dataset are numerical, write the code to get some standard statistics for each column (e.g. count, mean, etc.)

In [11]:
data_frame_df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

6.	Write the code to add a column named temp_f to the dataset that contains the temperature from temp_c represented in Fahrenheit. 
7.	Write the code to rearrange the columns in the dataset so temp_f appears immediately before temp_c.

In [13]:
data_frame_df['temp_f'] = (data_frame_df['temp_c'] * 9/5) + 32 
column_to_move = data_frame_df.pop("temp_f")
data_frame_df.insert(1, "temp_f", column_to_move)
print(data_frame_df)

                date_time  temp_f  temp_c  dew_point  relative_humidity  \
0     2012-01-01 00:00:00   28.76    -1.8       -3.9                 86
1     2012-01-01 01:00:00   28.76    -1.8       -3.7                 87
2     2012-01-01 02:00:00   28.76    -1.8       -3.4                 89
3     2012-01-01 03:00:00   29.30    -1.5       -3.2                 88
4     2012-01-01 04:00:00   29.30    -1.5       -3.3                 88
...                   ...     ...     ...        ...                ...
8779  2012-12-31 19:00:00   32.18     0.1       -2.7                 81
8780  2012-12-31 20:00:00   32.36     0.2       -2.4                 83
8781  2012-12-31 21:00:00   31.10    -0.5       -1.5                 93
8782  2012-12-31 22:00:00   31.64    -0.2       -1.8                 89
8783  2012-12-31 23:00:00   32.00     0.0       -2.1                 86

      wind_speed  visibility  pressure               weather
0              4         8.0    101.24                   Fog
1              4         8.0    101.24                   Fog
2              7         4.0    101.26  Freezing Drizzle,Fog
3              6         4.0    101.27  Freezing Drizzle,Fog
4              7         4.8    101.23                   Fog
...          ...         ...       ...                   ...
8779          30         9.7    100.13                  Snow
8780          24         9.7    100.03                  Snow
8781          28         4.8     99.95                  Snow
8782          28         9.7     99.91                  Snow
8783          30        11.3     99.89                  Snow

[8784 rows x 9 columns]

8.	Write the code to display the data types of all the columns in the dataset.

In [14]:
print(data_frame_df.dtypes)

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

In [15]:
data_frame_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: float64(5), int64(2), object(2)
memory usage: 617.8+ KB

9.	You’ll notice that the date_time column is not actually considered a date by Pandas.  Write the code to convert this column to a date/time column. Verify the conversion was successful.

In [16]:
from datetime import datetime

In [17]:
data_frame_df['date_time']=pd.to_datetime(data_frame_df['date_time'])
data_frame_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

10.	Write the code to get a count of the different weather designations in the weather column and display top 10 weather categories.

In [18]:
weathers = data_frame_df.groupby("weather")["weather"].count()
weathers.head(10)

weather
Clear                      1326
Cloudy                     1728
Drizzle                      41
Drizzle,Fog                  80
Drizzle,Ice Pellets,Fog       1
Drizzle,Snow                  2
Drizzle,Snow,Fog             15
Fog                         150
Freezing Drizzle              7
Freezing Drizzle,Fog          6
Name: weather, dtype: int64

11.	Which month of the year, the temp_f more than 90, humidity less than 50 , dew point more than 17, and the weather is Clear? Extract that data and save it to a new data frame.

In [19]:
weather_report = data_frame_df.query('temp_f > 90 & relative_humidity < 50 & dew_point > 17 & weather == "Clear"')
weather_report

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
5199,2012-08-04 15:00:00,91.04,32.8,18.8,44,17,24.1,101.39,Clear
5200,2012-08-04 16:00:00,90.50,32.5,18.5,44,15,24.1,101.34,Clear
5201,2012-08-04 17:00:00,90.50,32.5,19.8,47,13,24.1,101.32,Clear

12.	Extract the month information from the date_time column and add a month column at the data frame. (example: dt.month)

In [20]:
weather_report['month']=weather_report['date_time'].dt.month
weather_report

C:\Users\jonat\AppData\Local\Temp\ipykernel_20664\3304815617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_report['month']=weather_report['date_time'].dt.month

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
5199,2012-08-04 15:00:00,91.04,32.8,18.8,44,17,24.1,101.39,Clear,8
5200,2012-08-04 16:00:00,90.50,32.5,18.5,44,15,24.1,101.34,Clear,8
5201,2012-08-04 17:00:00,90.50,32.5,19.8,47,13,24.1,101.32,Clear,8

# In the month of August all of those conditions are met!

13.	Save your original dataframe to (‘weather_2012_new.csv’) – ensure your file does not contain the index column of the dataset.

In [22]:
weather_report.to_csv('weather_2012_new.csv', index=False)