In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("weather_2012.csv")

In [4]:
df.head(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [5]:
df.tail(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [6]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
7602,2012-11-12 18:00:00,17.1,7.3,52,35,25.0,101.09,Mainly Clear
8684,2012-12-27 20:00:00,-3.7,-5.3,89,37,16.1,100.58,Snow
5797,2012-08-29 13:00:00,23.5,7.9,37,32,48.3,100.98,Clear
8612,2012-12-24 20:00:00,-9.6,-12.8,77,6,25.0,101.43,Mainly Clear
4272,2012-06-27 00:00:00,15.7,12.9,83,17,19.3,99.75,Rain

### 3

In [8]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

### 4

In [ ]:
# rename columns 
# {'Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)','Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)','Weather'} 
# to 
#{date_time, temp_c, dew_point, relative_humidity, wind_speed, visibility, pressure, and weather}

In [11]:
data_frame_df = pd.DataFrame(df)
print(data_frame_df)

                Date/Time  Temp (C)  Dew Point Temp (C)  Rel Hum (%)  \
0     2012-01-01 00:00:00      -1.8                -3.9           86
1     2012-01-01 01:00:00      -1.8                -3.7           87
2     2012-01-01 02:00:00      -1.8                -3.4           89
3     2012-01-01 03:00:00      -1.5                -3.2           88
4     2012-01-01 04:00:00      -1.5                -3.3           88
...                   ...       ...                 ...          ...
8779  2012-12-31 19:00:00       0.1                -2.7           81
8780  2012-12-31 20:00:00       0.2                -2.4           83
8781  2012-12-31 21:00:00      -0.5                -1.5           93
8782  2012-12-31 22:00:00      -0.2                -1.8           89
8783  2012-12-31 23:00:00       0.0                -2.1           86

      Wind Spd (km/h)  Visibility (km)  Stn Press (kPa)               Weather
0                   4              8.0           101.24                   Fog
1                   4              8.0           101.24                   Fog
2                   7              4.0           101.26  Freezing Drizzle,Fog
3                   6              4.0           101.27  Freezing Drizzle,Fog
4                   7              4.8           101.23                   Fog
...               ...              ...              ...                   ...
8779               30              9.7           100.13                  Snow
8780               24              9.7           100.03                  Snow
8781               28              4.8            99.95                  Snow
8782               28              9.7            99.91                  Snow
8783               30             11.3            99.89                  Snow

[8784 rows x 8 columns]

In [12]:
data_frame_df.rename(columns = {'Date/Time':'date_time', 'Temp (C)':'temp_c', 'Dew Point Temp (C)':'dew_point',
                           'Rel Hum (%)':'relative_humidity','Wind Spd (km/h)':'wind_speed','Visibility (km)':'visibility',
                          'Stn Press (kPa)':'pressure','Weather':'weather'},
                   inplace = True)
print(data_frame_df)

                date_time  temp_c  dew_point  relative_humidity  wind_speed  \
0     2012-01-01 00:00:00    -1.8       -3.9                 86           4
1     2012-01-01 01:00:00    -1.8       -3.7                 87           4
2     2012-01-01 02:00:00    -1.8       -3.4                 89           7
3     2012-01-01 03:00:00    -1.5       -3.2                 88           6
4     2012-01-01 04:00:00    -1.5       -3.3                 88           7
...                   ...     ...        ...                ...         ...
8779  2012-12-31 19:00:00     0.1       -2.7                 81          30
8780  2012-12-31 20:00:00     0.2       -2.4                 83          24
8781  2012-12-31 21:00:00    -0.5       -1.5                 93          28
8782  2012-12-31 22:00:00    -0.2       -1.8                 89          28
8783  2012-12-31 23:00:00     0.0       -2.1                 86          30

      visibility  pressure               weather
0            8.0    101.24                   Fog
1            8.0    101.24                   Fog
2            4.0    101.26  Freezing Drizzle,Fog
3            4.0    101.27  Freezing Drizzle,Fog
4            4.8    101.23                   Fog
...          ...       ...                   ...
8779         9.7    100.13                  Snow
8780         9.7    100.03                  Snow
8781         4.8     99.95                  Snow
8782         9.7     99.91                  Snow
8783        11.3     99.89                  Snow

[8784 rows x 8 columns]

### 5

In [13]:
data_frame_df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

### 6

In [24]:
C = data_frame_df['temp_c']
F = (C * 9/5) + 32 
print(F)

0       28.76
1       28.76
2       28.76
3       29.30
4       29.30
        ...
8779    32.18
8780    32.36
8781    31.10
8782    31.64
8783    32.00
Name: temp_c, Length: 8784, dtype: float64

In [31]:
data_frame_df['temp_f'] = (data_frame_df['temp_c'] * 9/5) + 32 
column_to_move = data_frame_df.pop("temp_f")
data_frame_df.insert(1, "temp_f", column_to_move)
print(data_frame_df)

                date_time  temp_f  temp_c  dew_point  relative_humidity  \
0     2012-01-01 00:00:00   28.76    -1.8       -3.9                 86
1     2012-01-01 01:00:00   28.76    -1.8       -3.7                 87
2     2012-01-01 02:00:00   28.76    -1.8       -3.4                 89
3     2012-01-01 03:00:00   29.30    -1.5       -3.2                 88
4     2012-01-01 04:00:00   29.30    -1.5       -3.3                 88
...                   ...     ...     ...        ...                ...
8779  2012-12-31 19:00:00   32.18     0.1       -2.7                 81
8780  2012-12-31 20:00:00   32.36     0.2       -2.4                 83
8781  2012-12-31 21:00:00   31.10    -0.5       -1.5                 93
8782  2012-12-31 22:00:00   31.64    -0.2       -1.8                 89
8783  2012-12-31 23:00:00   32.00     0.0       -2.1                 86

      wind_speed  visibility  pressure               weather
0              4         8.0    101.24                   Fog
1              4         8.0    101.24                   Fog
2              7         4.0    101.26  Freezing Drizzle,Fog
3              6         4.0    101.27  Freezing Drizzle,Fog
4              7         4.8    101.23                   Fog
...          ...         ...       ...                   ...
8779          30         9.7    100.13                  Snow
8780          24         9.7    100.03                  Snow
8781          28         4.8     99.95                  Snow
8782          28         9.7     99.91                  Snow
8783          30        11.3     99.89                  Snow

[8784 rows x 9 columns]

In [38]:
print(data_frame_df.dtypes)

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

In [39]:
data_frame_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: float64(5), int64(2), object(2)
memory usage: 617.8+ KB

In [40]:
from datetime import datetime

In [44]:
data_frame_df['date_time']=pd.to_datetime(data_frame_df['date_time'])
data_frame_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

In [52]:
weathers = data_frame_df.groupby("weather")["weather"].count()
weathers.head(10)

weather
Clear                      1326
Cloudy                     1728
Drizzle                      41
Drizzle,Fog                  80
Drizzle,Ice Pellets,Fog       1
Drizzle,Snow                  2
Drizzle,Snow,Fog             15
Fog                         150
Freezing Drizzle              7
Freezing Drizzle,Fog          6
Name: weather, dtype: int64

In [58]:
weather_report = data_frame_df.query('temp_f > 90 & relative_humidity < 50 & dew_point > 17 & weather == "Clear"')
weather_report

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
5199,2012-08-04 15:00:00,91.04,32.8,18.8,44,17,24.1,101.39,Clear
5200,2012-08-04 16:00:00,90.50,32.5,18.5,44,15,24.1,101.34,Clear
5201,2012-08-04 17:00:00,90.50,32.5,19.8,47,13,24.1,101.32,Clear

In [ ]:
## STILL confused....

In [62]:
data_frame_df['month']=df['date_time'].dt.month
data_frame_df

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog,1
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog,1
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",1
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",1
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog,1
...,...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,32.18,0.1,-2.7,81,30,9.7,100.13,Snow,12
8780,2012-12-31 20:00:00,32.36,0.2,-2.4,83,24,9.7,100.03,Snow,12
8781,2012-12-31 21:00:00,31.10,-0.5,-1.5,93,28,4.8,99.95,Snow,12
8782,2012-12-31 22:00:00,31.64,-0.2,-1.8,89,28,9.7,99.91,Snow,12
8783,2012-12-31 23:00:00,32.00,0.0,-2.1,86,30,11.3,99.89,Snow,12

In [ ]:
df1.to_csv('weather_2012_new.csv', index=False)